<!-- hereda de la clase base -->
{% extends 'base.html'%}
<!-- Sobrescribe el bloque del titulo -->
{%block title%}Libros{%endblock%}

<!-- Sobrescribe el bloque de contenido -->
{% block content %}
    <h2>Libros en existencia</h2>
    <!-- {{variable}} = se usa para mostrar el valor de una variable en el template -->
    {# {{variable | filtro}} = se usa para aplicar un filtro a una variable en el template #}
    <p>Nombre: {{nombre}}</p>
    <p>Autor: {{ autor}}</p>
    <p>Fecha: {{fecha_hoy | date:"d/m/Y H:i"}}</p>
    <p>Precio: {{precio}}</p>

    <a href="{% url 'detalle_libro' %}"> detalles </a>
{% endblock%}
